.outer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 30px;
    margin-top: 85px;
    flex-wrap: wrap;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con{
    font-size:1.5rem;
    background-color: rgba(6, 6, 240, 0.21);
    /* background-image: linear-gradient(120deg,white,blue); */
}
h2{
    font-size: 2.3rem;
    text-align: center;
    padding-top: 40px; 
}
.head{
    background-color: blue;
    color:white;
    font-weight:500;
}
.high{
    padding:10px;
    font-weight:500;
    height:30px;
    padding-top:15px;
    display: flex;
}
.i,.j,.k{
    height:20px;
    width:200px;
    text-align: center;
}
.input{
    margin-left:10px;
    margin-right:5px;
    height:20px;
    width:200px;
}
input{
    border-radius: 7px;
    border:2px solid rgb(39, 4, 235);
    color:blue
}
.submit{
    height:25px;
    width:70px;
    padding:0px;
    font-size:15px;
    font-weight: 500;
    
}