.con{
    background-color: rgba(165, 42, 42,0.2);
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
.stu_info,.address_info,.contact_info,.academic_info{
    margin-top:30px;
    padding-left:10px;
    display:flex;
    flex-direction:column;
    row-gap: 15px;
    padding-left: 20px;
}
.head{
    font-size:34px;
}
.names,.dob,.city_state,.country,.email,.ac,.parent{
    display:flex;
    justify-content:left;
    column-gap: 30px;
    
}
input,select{
    border:0.1px solid gray;
    border-radius:5px;
    height:32px;
    width:28%;
}
.date,.city_c,.e_ph{
    width:43.4%;
}
.street1{
    width:89.6%;
}
.buttons{
    margin-top: 60px;
    margin-bottom:80px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.s_r{
    
    width:90px;
    color:white;
    background-color: brown;
    font-size: 20px;
    padding:10px;
    height:45px;
}
.ac{
    width:90%;
}