.external{
    display:flex;
    justify-content: center;
    align-items:center;    
}
/* body{
    background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.con{
    background-color: rgba(165, 42, 42,0.2); 
    margin-top:20px;
 }
.internal{
    display:flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap:2rem;
    margin-top:50px;

}
h1{
    font-size: 50px;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center ;
    flex-wrap: wrap;
    gap:1rem;
    /* border:1px solid black; */
    padding:5px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;;
    background-color: rgba(250, 248, 248, 0.8);
    height: 80px;
    width:480px;
    font-size: 2rem;
    color:rgb(10, 9, 9);
    font-weight: 400;
    box-shadow: 1px 1px 10px rgba(231, 216, 216, 0.31);
}
.one,.two,.three{
    font-size: 2rem;
    padding: 5px;
}

.head{
    position:sticky;
    margin-top:0px;
    background-color: aquamarine;
    display:flex;
    justify-content:space-between;
    align-items:center ;
    flex-wrap: wrap;
    gap:1rem;
    /* border:1px solid black; */
    padding:5px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
    width:480px;
    font-size: 1.2rem;
    color:rgb(10, 9, 9);
    font-weight: 700;
    box-shadow: 1px 1px 10px rgba(231, 216, 216, 0.31);
}
